body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    color: #ffffff;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.video-section {
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.video-title {
    font-size: 70px; /* Adjust the font size as needed */
}

.video-tagline {
    font-size: 30px; /* Adjust the font size as needed */
}
#solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px; /* Adjust this value to set the maximum width of the columns container */
}

.solution-column {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.solution-image {
    width: 100%;
    max-width: 200px; /* Adjust this value to make the image larger or smaller */
    margin-bottom: 10px;
}
