* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.logo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue';
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #555;
}

.middle-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.founder {
    width: 45%;
}

.image {
    width: 45%;
}

.image img {
    max-width: 100%;
    height: auto;
}
